<!--
  ITS EITHER THE WHOLE OF THIS COMMENTED OR THE UNCOMMENTED CODE BELOW
  
  <header>
  <div class="container">
    <a routerLink="/" class="logo">CoolApp</a>
    <nav>
      <ul>
        <li><a href="#" [routerLink]="'/'">Home</a></li>
        <li><a href="#" [routerLink]="'/about'">about</a></li>
      </ul>
    </nav>
  </div>
</header>

<div class="container">
  <router-outlet></router-outlet>
</div> -->

<mat-toolbar color="primary">  
  <h1 class="ml-4">  
  My Angular Store  
  </h1>  
  <button mat-button routerLink="/" class="home-button">Home</button>  
  <button mat-button routerLink="/about">About</button>
</mat-toolbar>
<router-outlet></router-outlet>