.home-button{
    margin-left: 70%;
}



/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .home-button{
        margin-left: 10%;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .home-button{
        margin-left: 40%;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .home-button{
        margin-left: 50%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .home-button{
        margin-left: 60%;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .home-button{
        margin-left: 70%;
    }
}