
<div class="container-for-card">
    <div class="">
        <div class="mat-card-wrapper">
            <mat-spinner *ngIf="products.length === 0"></mat-spinner>
        
            <mat-card *ngFor="let product of products" class="mat-card">
                <mat-card-header>
                    <mat-card-title>{{product.name}}</mat-card-title>
                    <mat-card-subtitle>{{product.price}} $/ {{product.quantity}}
                    </mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <p>
                        {{product.description}}
                    </p>
                    <img src="{{ product.imageUrl }}" />
                </mat-card-content>
                <mat-card-actions>
              <button mat-button> Buy product</button>
            </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>
