

/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
    .mat-card-wrapper{
        padding: 13px;
        display: flex;
        flex-wrap: wrap;
    }
    .mat-card{
        margin:auto;
        width: 90%;
    }
    .mat-card-wrapper .mat-card img{
        height:100%;
        width: 100%;
    }
 }

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) { 
    .mat-card-wrapper{
        padding: 13px;
        display: flex;
        flex-wrap: wrap;
    }
    .mat-card{
        margin:auto;
        width: 80%;
    }
    .mat-card-wrapper .mat-card img{
        height:100%;
        width: 100%;
    }
 }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
    .mat-card-wrapper{
        padding: 13px;
        display: flex;
        flex-wrap: wrap;
    }
    .mat-card{
        margin:2rem 0rem 0rem 6.7%;
        width: 40%;
    }
    .mat-card-wrapper .mat-card img{
        height:100%;
        width: 100%;
    }
 }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
    .mat-card-wrapper{
        padding: 13px;
        display: flex;
        flex-wrap: wrap;
    }
    .mat-card{
        margin:2rem 0rem 0rem 2.6%;
        width: 30%;
    }
    .mat-card-wrapper .mat-card img{
        height:100%;
        width: 100%;
    }
 }

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
    .mat-card-wrapper{
    padding: 13px;
    display: flex;
    flex-wrap: wrap;
    }
    .mat-card{
    margin:2rem 0rem 0rem 2.5%;
    width: 30%;
    }
    .mat-card-wrapper .mat-card img{
    height:100%;
    width: 100%;
} 
}